# Auto detect text files and perform LF normalization
* text=auto

# Enforce Unix LF line endings for shell scripts and python scripts
*.sh text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Enforce Unix LF line endings for Ballerina and config files
*.bal text eol=lf
*.toml text eol=lf
.env* text eol=lf
